DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=c237_017_team2_crisishub
DB_SSL=true
SESSION_SECRET=change-this-secret
PORT=3000
APP_URL=http://localhost:3000
RESEND_API_KEY=
EMAIL_FROM=onboarding@resend.dev
